.container{
    height: 800px;
    width: 1200px;
    background-color: rgb(152, 214, 214);
    margin: 10px auto;
    display: grid;
    border: 2px solid rgb(5, 237, 36);
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    text-align: center;
    

}

.container div {
    border: 2px solid black;
    background-color: antiquewhite;
    /* justify-content: center; */
    font-size: 55px;
    
}
.header{
    grid-column-start: 1;
    grid-column-end: 13;
}
.sidebar{
    grid-row: 2/12;
    grid-column: 1/4;

}
.navigation{
    grid-column: 4/10;
}
.main{
  grid-column: 4/10;
  grid-row: 3/12;
}
.ads{
    grid-row: 2/12;
    grid-column: 10/13;
}
.footer{
    grid-column: 1/13;
}


@media only screen and (max-width: 750px){
    .header{
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .sidebar{
        grid-row: 3/12;
        grid-column: 1/4;
    
    }
    .navigation{
        grid-column: 1/13;
    }
    .main{
      grid-column: 4/13;
      grid-row: 3/12;
    }
    .ads{
        grid-row: 12/13;
        grid-column: 1/4;
    }
    .footer{
        grid-column: 4/13;
    }
    
}